.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ddd;
}

h1 {
	text-align: center;
	margin-top: 0;
}

form {
	display: grid;
	grid-gap: 20px;
}

label {
	display: block;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
