<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" type="text/css" href="/static/contactcss.css">
</head>
<body>
	<div class="container">
		<h1>Contact Us</h1>
		<form>
			<label for="name">Name</label>
			<input type="text" id="name" name="name" placeholder="Your name.." required>

			<label for="email">Email</label>
			<input type="email" id="email" name="email" placeholder="Your email.." required>

			<label for="message">Message</label>
			<textarea id="message" name="message" placeholder="Write something.." required></textarea>

			{% comment %} <input type="submit" value="Submit"> {% endcomment %}
            <a href="/"> submit </a>

		</form>
	</div>
</body>
</html>
